/* Colors:

ISABELLINE
QUICK SILVER
AUROMETALSAURUS
LIGHT GRAY
BLACK OLIVE */

body {
    margin: 0;
    padding: 20px;
    color: #413F3D;
    background-color: #D8CFD0;
    font: 100%/1.4 Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

figure {
    margin: 0;
    padding: 0;
}

figcaption {
    font-family: "Georgia","Times New Roman",serif;
    text-align: center;
    padding: 0.5em 0 1em 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Georgia","Times New Roman",serif;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 328.571%;
    margin-bottom: 0.2em;
}

h1.title {
    text-align: center;
    color: #413F3D;
}

h2 {
    font-size: 250%;
    margin-bottom: 0.2em;
}

h3 {
    font-size: 150%;
    margin-bottom: 0.2em;
}

p {
    margin:0;
    padding: 0 0 1em 0;
}

.wrapper {
    display: grid;
    padding: 2rem 2rem;
    background-color: #F2F1EF;
    color: #413F3D; 
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    border-radius: 5px;
}

.mainnav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 120%;
}

.mainnav a:link, .mainnav a:visited {
    text-decoration: none;
    color: #444;
}

.quote {
    font: 150%/1.4 "Georgia","Times New Roman",serif;
    padding: 0;
    margin: 0;
}